<% provide(:title, "Edit user") %>
<br>
<br>
<br>
<br>

<center>
<div class="container">
<h1>Update your profile</h1>
<br>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
      
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>

      <center><br><br><br><br><%= f.submit "Save changes", class: "btn btn-large btn-primary" %></center>
    <% end %>

    
  </div>
</div>